<p id="notice"><%= notice %></p>

<h2>Images</h2>
    <% @entries.each do |entry| %>
      <div> 
        <%= image_tag entry.photo_url %><br>
        <%= entry.caption %> by <%= entry.author %><br>
        <%= entry.date_taken.strftime("Taken on %m/%d/%Y") %>
        <%= link_to 'Show', entry %>
        <%= link_to 'Edit', edit_entry_path(entry) %>
        <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <br>
    <% end %>
<br>

<%= link_to 'New Entry', new_entry_path %>
